table()
  border-top: base-border-size solid dark-gray
  border-bottom: base-border-size solid dark-gray
  > .head
    border-bottom: meek-border-size solid dark-gray
  > .body
    > .row:nth-child(odd)
      background-color: white
    > .row:nth-child(even)
      background-color: light-gray
